hy-course-overview
  display block
  background-color transparent
  padding 1rem
  position relative
  top 0

  & > h3
    margin-top 0
    font-size 2rem
    margin-bottom .5rem
    // margin-left 0rem
