hy-course-preview
  display block
  background-color #fff
  padding .5rem 1rem
  margin-bottom 1rem
  position relative

  h4
    margin-top 0
    margin-bottom .5rem
  p
    margin 0

  .time
    position absolute
    bottom .5rem
    right 1rem
