hy-hero-logo
  display block
  max-width 50vw
  margin-left auto
  margin-right auto
  position absolute
  bottom 15%
  left 50%
  transform translateX(-50%)
  z-index 2

  picture, img
    max-width 100%
