hy-hero-logo
  display block
  margin-left auto
  margin-right auto
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  transform translateZ(0)
  z-index 2

  & > picture, & > picture > img
    max-width 100%
    position absolute
    bottom 15%
    left 50%
    z-index 3
    max-width 60vw
    max-height 50vh
    transform translateX(-50%)
