@import '../../globals/breakpoints'
hy-hero-breakpoints = hy-breakpoints

breakpoint-path(path, breakpoint)
  replace(" ", "", join("."+breakpoint, split(extname(path), path) extname(path)))

media-query-string(breakpoint)


responsive-bg-images(path)
  background-image url(breakpoint-path(path, hy-hero-breakpoints[0]))

  shift(hy-hero-breakpoints)
  for breakpoint in hy-hero-breakpoints
    @media (min-width: s("%spx", breakpoint))
      background-image url(breakpoint-path(path, breakpoint))

$hy-hero-background-image
  background-color #3B2B2C // visible before image loads
  responsive-bg-images('/assets/images/wesley-henshaw-498995-unsplash.jpg')
  background-position center center
  background-size cover

  // media(screen and min-width: "700") {
  //   background-image url('/assets/images/full-width-backgrounds/wesley-henshaw-498995-unsplash.768.jpg')
  // }

$hy-hero-background-image-overlay
  position relative

  &:after
    content: ''

    position absolute
    top 0
    right 0
    bottom 0
    left 0

    background-color #341C11
    opacity .42
    z-index 1

$hy-hero-full-screen
  overflow hidden // prevents inner content from pushing the window down (e.g headlines)
  display block
  height 100vh

hy-hero
  @extend $hy-hero-background-image
  @extend $hy-hero-background-image-overlay
  @extend $hy-hero-full-screen

hy-hero-logo
  display block
  max-width 50vw
  margin-left auto
  margin-right auto
  position absolute
  bottom 15%
  left 50%
  transform translateX(-50%)
  z-index 2

  picture, img
    max-width 100%
