mixin course-preview(course)
  hy-course-preview
    h4
      = course.title
      if course.hint
        = ` (${course.hint})`
    p= t('course-preview.with', {teacher: course.teacher})
    p.time= `${course.begin} - ${course.end}`
