include ./course-preview

mixin course-overview(courses)
  hy-course-overview
    each coursesForDay, day in courses
      if coursesForDay.length > 0
        h3= t(`weekdays.${day}`)
        
        each course in coursesForDay
          +course-preview(course)
      
