include ../mixins/svg-picture

hy-nav
  hy-nav-toggle
    +hamburger-button("Main Menu")
    
  nav
    hy-nav-toggle
      +hamburger-button("Main Menu")
    
    
    ul
      li
        hy-nav-item
          a(href="#menu1") 
            +svg-picture("/assets/images/_ionicons_svg_md-filing")
            | Kursprogramm
            = " "
            sub finde hier einen Überblick über die aktuellen Kurse und wann sie statt finden
      li
        hy-nav-item
          a(href="#menu2") 
            +svg-picture("/assets/images/_ionicons_svg_md-card")
            | Preise
            = " "
            sub eine breite Palette an verschiedenen Angeboten gibt es hier
      li
        hy-nav-item
          a(href="#menu3") 
            +svg-picture("/assets/images/_ionicons_svg_md-compass")
            | Anfahrt
            = " "
            sub egal ob du mit dem 🚲 oder mit dem 🚗 kommst. Es warten sogar einige freie Parkplätze auf dich
      li
        hy-nav-item
          a(href="#menu4") 
            +svg-picture("/assets/images/_ionicons_svg_md-chatbubbles")
            | Kontakt
            = " "
            sub wir freuen uns immer über deinen Anruf oder eine nette Nachricht per E-Mail. 

    hy-nav-item.check-in
      a(href="#menu5") 
        //- +svg-picture("/assets/images/_ionicons_svg_md-log-in", "", "default")
        //- +svg-picture("/assets/images/_ionicons_svg_md-log-in-alt", "", "alternative")
        span Online Check-In
