hy-hero hy-background {
  background-image: url('/assets/images/florencia-viadana-720019-unsplash-cropped.768.jpg');
}
@media (min-width: 768px) {
  hy-hero hy-background {
    background-image: url('/assets/images/dominic-lowyears-122568-unsplash.768.jpg');
  }
}
@media (min-width: 1366px) {
  hy-hero hy-background {
    background-image: url('/assets/images/dominic-lowyears-122568-unsplash.1366.jpg');
  }
}
@media (min-width: 1800px) {
  hy-hero hy-background {
    background-image: url('/assets/images/dominic-lowyears-122568-unsplash.1800.jpg');
  }
}
