<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    //- meta(name="format-detection" content="telephone=no")
    meta(name = "viewport" content = "initial-scale = 1.0")
    title happyyoga.de
    link(href="https://fonts.googleapis.com/css?family=Lato:100,400,700|Oswald:600" rel="stylesheet")
    link(rel="stylesheet", href="/assets/styles/main.css")
    block head
      
  body
    block content
