extends layouts/landing-page
include mixins/hamburger-button
include mixins/svg-picture
include partials/course-overview

block head
  script.
    var cssTemplate = 'hy-hero hy-background { background-image: url("/assets/images/IMAGE_NAME.768.jpg");}@media (min-width: 768px) { hy-hero hy-background {   background-image: url("/assets/images/IMAGE_NAME.768.jpg"); }}@media (min-width: 1366px) { hy-hero hy-background {   background-image: url("/assets/images/IMAGE_NAME.1366.jpg"); }}@media (min-width: 1800px) { hy-hero hy-background {   background-image: url("/assets/images/IMAGE_NAME.1800.jpg"); }}';
    
    var images = [
      'dominic-lowyears-122568-unsplash', 
      'artem-bali-413154-unsplash', 
      'form-426157-unsplash', 
      'jared-rice-539485-unsplash', 
      'jennifer-regnier-599117-unsplash', 
      'florencia-viadana-720019-unsplash'
    ];
    
    var imageName = images[Math.ceil(Math.random()*images.length)-1] || images[0];
    var css = cssTemplate.replace(/IMAGE_NAME/g, imageName)
    head = document.head || document.getElementsByTagName('head')[0],
    style = document.createElement('style');

    style.type = 'text/css';
    if (style.styleSheet){
      // This is required for IE8 and below.
      style.styleSheet.cssText = css;
    } else {
      style.appendChild(document.createTextNode(css));
    }

    head.appendChild(style);
  
block content
  main
    hy-hero
      hy-background(class="rellax" data-rellax-speed="-2")
      hy-hero-logo(class="rellax" data-rellax-speed="3")
        +svg-picture("/assets/images/happy-yoga-main")
        
            
    
    content-area(id="menu1" class="full")
      +course-overview(courses)
    
    content-area(id="menu2")
      h1 Hello
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates officia quasi velit excepturi laborum perspiciatis obcaecati dolor, ab facere eius! Consectetur enim sequi ipsum inventore facilis, natus maxime alias vel!
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates officia quasi velit excepturi laborum perspiciatis obcaecati dolor, ab facere eius! Consectetur enim sequi ipsum inventore facilis, natus maxime alias vel!
    
    content-area(id="menu3")
      h1 Hello
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates officia quasi velit excepturi laborum perspiciatis obcaecati dolor, ab facere eius! Consectetur enim sequi ipsum inventore facilis, natus maxime alias vel!
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates officia quasi velit excepturi laborum perspiciatis obcaecati dolor, ab facere eius! Consectetur enim sequi ipsum inventore facilis, natus maxime alias vel!
    
    content-area(id="menu4")
      h1 Hello
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates officia quasi velit excepturi laborum perspiciatis obcaecati dolor, ab facere eius! Consectetur enim sequi ipsum inventore facilis, natus maxime alias vel!
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates officia quasi velit excepturi laborum perspiciatis obcaecati dolor, ab facere eius! Consectetur enim sequi ipsum inventore facilis, natus maxime alias vel!
    
    content-area(id="menu5")
      h1 Hello
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates officia quasi velit excepturi laborum perspiciatis obcaecati dolor, ab facere eius! Consectetur enim sequi ipsum inventore facilis, natus maxime alias vel!
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates officia quasi velit excepturi laborum perspiciatis obcaecati dolor, ab facere eius! Consectetur enim sequi ipsum inventore facilis, natus maxime alias vel!
    
  
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.6.2/rellax.js")
    
  //- TODO: load polyfills only if needed
  script(src="https://cdn.jsdelivr.net/npm/document-register-element@1.10.0/build/document-register-element.js")
  script(src="https://cdn.jsdelivr.net/npm/request-animation-frame-polyfill@0.1.3/index.min.js")
  script(src="https://unpkg.com/sweet-scroll/sweet-scroll.min.js")
  
  script(src="/assets/javascripts/components.js")
