extends layouts/landing-page

block content
  hy-hero
    hy-hero-logo
      picture
        source(srcset="/assets/images/happy-yoga-main.svg" type="image/svg+xml")
        img(src="/assets/images/happy-yoga-main.png", alt="")
