@import "../../globals/colors"

hy-nav
  z-index 10
  nav
    position fixed
    top 0
    right 100%
    bottom 0
    z-index 999

    display block
    width 100%
    height 100vh
    // background-color $bg-main-menu
    background-color $bg-main-menu-opaque
    opacity 0

    overflow-y scroll
    -webkit-overflow-scrolling: touch;

    -webkit-transition: opacity 0.3s
    -moz-transition: opacity 0.3s
    -o-transition: opacity 0.3s
    -ms-transition: opacity 0.3s
    transition: opacity 0.3s

    padding-top 10vh

    &[aria-expanded="true"]
      right 0
      opacity 1

  ul
    padding-top 3rem
    display flex
    flex-wrap wrap

  li
    flex 1 0 40%
    margin-left 5%
    margin-right 5%

    &.check-in
      flex 1 0 100%
      margin 0


hy-nav-toggle //, hy-logo-reflection
  z-index 1000
  position fixed
  top 0
  right 0
  background-color $bright-pink
  // padding .5rem .5rem

  &.cross
    background-color transparent !important
  &.over-content
    background-color #fff
    micro-animation-toggle
      color #000

  & > button
    padding 0
    border 0
    background-color transparent
    cursor pointer
    padding .5rem .5rem

  & > button > span
    display none

// hy-logo-reflection
//   opacity 0
//   max-width 2rem
//   right 3rem
//   transform translateY(-10%)
//   -webkit-transition: opacity 0.3s
//   -moz-transition: opacity 0.3s
//   -o-transition: opacity 0.3s
//   -ms-transition: opacity 0.3s
//   transition: opacity 0.3s
//
//
//   img
//     max-width 100%
