[type=image/svg+xml]
  display none

@import "globals/index"
@import "components/**/index"
//
// @keyframes text-align-infinite {
//   0% { left: 0; }
//   50% { left: 50%; }
//   100% { right: 0; }
// }
//
// .anim-alignment
//   position relative
//   animation: 3s infinite text-align-infinite;
