[type=image/svg+xml]
  display n

*
  box-sizing border-box

img
  max-width 100%

body
  padding-bottom 500px !important

@import "helpers/positioning"
@import "globals/index"
@import "components/**/index"
