@import "globals/index"
@import "components/**/index"

// CSS parallax does not work with momentum scrolling :/
// main
  // perspective 1px
  // overflow-x hidden
  // overflow-y auto
  // height 100vh
  // -webkit-overflow-scrolling: touch; /*MAKES OVERFLOWN OBJECTS HAVE INERTIA SCROLLING*/
  // -webkit-transform: translateZ(-1px);
