$content-area-vertical-spacing = 5rem
$content-area-horizontal-spacing = 5rem

content-area
  display block
  padding $content-area-vertical-spacing $content-area-horizontal-spacing
  background-color #fff

  &.full
    padding 0
