$black = rgb(14, 12, 11)
$pink = rgb(239, 94, 229)
$dark-pink = rgb(181, 56, 172)
$glow-pink = rgb(239, 14, 222)
$slate-blue = rgb(33, 45, 69)
$slate-blue-opaque = rgba(33, 45, 69, .95)
$bright-pink = #ff0188
$dark-slate = #8793A3
