@import "base-colors"

$ft-color = $black
$ft-link-color = $pink
$ft-link-color-visited = $dark-pink
$ft-link-color-hover = $glow-pink
$ft-link-color-active = $glow-pink
$bg-main-menu = $slate-blue
$bg-main-menu-opaque = $slate-blue-opaque
