@import 'colors'

*
  -webkit-font-smoothing antialiased
  
html
  font-size 100%
  color $ft-color
  font-family 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif

h1, h2, h3, h4, h5, h6
  font-family 'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif

button, input
  font-size 1rem

a
  &:link
    color $ft-link-color
  &:visited
    color $ft-link-color-visited
  &:hover
    color $ft-link-color-hover
  &:active
    color $ft-link-color-active
