@import 'colors'

html
  font-size 100%
  color $ft-color
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

h1, h2, h3
  font-family: 'Merriweather', 'Courier New', Courier, 'Times New Roman', times, serif;

button, input
  font-size 1rem

a
  &:link
    color $ft-link-color
  &:visited
    color $ft-link-color-visited
  &:hover
    color $ft-link-color-hover
  &:active
    color $ft-link-color-active
