$price-category-border-radius = 5px
content-area.price-categories-wrapper
  positioning-root()
  // min-width 300px
  padding 3rem 1rem
  padding-top 5rem
  background-color #2C2542
  background-image linear-gradient(135deg, #2C2542, #19172C)
  overflow hidden
  color #fff
  // padding 2rem

  &:before, &:after, price-categories > ul:before, price-categories > ul:after
    content ''
    display block
    width 100%
    height 4rem
    transform rotate(-45deg) translateY(-50%)
    position absolute
    top 0

  &:before, price-categories > ul:before
    background-color #F8BF63
    left 1rem

  &:after, price-categories > ul:after
    background-color #EB5D94
    left 6.5rem

  price-categories > ul:before, price-categories > ul:after
    width 100%
    top auto
    bottom -3rem
    z-index 1

  price-categories > ul:before
    left -4rem
  price-categories > ul:after
    left 1.5rem


  h2
    top 1.5rem
    right 0.5rem
    text-align right
    padding 0 3rem 0 0
    font-size 2.5rem
    // z-index 1000
    // margin-bottom 0
    // background transparent
    border-bottom none
    background-color transparent
    z-index 1000

price-categories
  display block

  ul, li
    margin 0
    padding 0


colorList = #EB5D94 #F8BF63 #3ECC95 #02AAFF

price-category
  positioning-root()
  display block
  color #000

  for bgCol, i in colorList
    li:nth-child({i+1}) &
      z-index 999 - i

  header
    positioning-root()
    display block
    border-radius 0 0 0 3rem
    margin-top -6rem
    z-index 999
    cursor pointer

    &:after
      content ''
      height 4px
      width 30%
      border-radius 4px
      position absolute
      bottom .5rem
      right .5rem
      background-color #fff

    padding 6rem 2rem 1rem 2rem

    li:first-of-type &
      padding-top 2rem
      margin-top 0
      border-radius 1rem 1rem 0 3rem
      border-top 3px solid #2C2542

    li:last-of-type &
      border-bottom 3px solid #2C2542

    for bgCol, i in colorList
      li:nth-child({i+1}) &
        background-color bgCol
        color #fff

    transition height

    h3
      position relative
      font-size 1.8rem
      margin-bottom .3rem
    p
      position relative
      margin-top 0

  ul
    // display none
    positioning-root()
    background-color #fff
    border-radius 0 0 0 3rem
    display none
    overflow hidden
    padding-top 5rem
    padding-bottom 2rem
    transform translateY(-3rem)
    z-index 998


    li
      transform translateY(-100px)
      transition transform .5s

  &.open ul
    display block

  &.active ul
    li
      transform translateY(0px)

  .opening-hint
    text-align center
    margin-left auto
    margin-right auto
    border-radius 0 0 0 3rem
    // padding 1rem
    height 2rem
    background url(/assets/images/tap.svg) no-repeat top center
    background-size contain

    transform translateY(-50px)
    transition transform .2s
    display none

  &.price-category-in-line-of-sight .opening-hint
    display block
  &.price-category-in-line-of-sight.price-category-in-line-of-sight-and-active .opening-hint
    transform translateY(0)

.opened-once .opening-hint
  display none !important

li:last-of-type price-category.open
  header
    border-bottom 0 !important

  ul
    border-bottom 3px solid #2C2542
