// 8793A3
content-area.price-categories-wrapper
  background-color $dark-slate
  // width 100%
  // overflow-x scroll
  // overflow-y visible
  // height auto
  padding 2rem
  padding-top 4rem

price-categories
  display block
  // height 10rem
  // width 2000px

  ul, li
    margin 0
    padding 0
    // display inline

  // & > ul
  //   display flex
  //   flex-wrap nowrap
  //   overflow-x auto
  //   -webkit-overflow-scrolling touch
  //   -ms-overflow-style -ms-autohiding-scrollbar
  //
  //   &::-webkit-scrollbar
  //     display none
  // & > ul > li
  //   flex: 0 0 auto

price-category
  display inline-block
  min-width 80vw
  margin-right .5rem
  border-radius 5px
  padding 1.5rem 5vw 1.5rem 5vw
  background-color #fff

  header
    h3, p
      text-align center

    h3
      font-size 2rem
      // font-family 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif
      font-weight 300
      margin-top .5rem
      margin-bottom 0

    p
      margin-top .3rem
      color $dark-slate

  header
    // border-bottom 1px dashed
    padding-bottom .1rem
    background-image: linear-gradient(to right, #d8d5da 63%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 20px 2px;
    background-repeat: repeat-x;

  ul, li
    margin 0
    padding 0

  li
    display block
    border-bottom 1px solid #d8d5da

price-option
  display block
  padding .5rem 0

  h4, .price
    font-family 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif
    text-align center

  h4
    font-weight 500
    font-size 1.5rem
    margin-top .5rem
    margin-bottom 1.3rem
    position relative
    top 0
    left 0

    &:after
      display inline-block
      content: ''
      height 2px
      width 40px
      background-color #000
      position absolute
      bottom -.9rem
      left 50%
      transform translateX(-50%)



  .price
    p
      display inline
      font-size 3rem
      font-weight 500
      position relative
      left 0
      top 0

      .currency
        position absolute
        top -.2em
        left -.7em
        font-size .7em

      .variant-info
        font-size 1rem
        position absolute
        bottom 1rem
        right 100%
        transform translate(-2rem, 40%)

      .monthly
        font-size 1rem
        position absolute
        bottom 1rem
        left 100%
        transform translate(1rem, 40%)
        white-space: nowrap

      .note
        font-size 1rem
        position absolute
        bottom -1rem
        left 0
        white-space: nowrap
        text-align right

  &.highlight .price
    p, .monthly, .currency
      color #FF0066
    .note, .variant-info
      color #000


  // &:before
  //   content: 'oder'
  //   font-size 1rem
  //
  // &:first-of-type:before
  //     display none
