$price-category-border-radius = 5px
content-area.price-categories-wrapper
  // background-color #e8e6e6
  // padding 2rem
  padding-top 3rem

  h2
    top -1px
    // z-index 1000
    // margin-bottom 0
    // background transparent
    border-bottom none

price-categories
  display block

  ul, li
    margin 0
    padding 0


colorList = #DA7EAA #8F50BB #16042E #DA7EAA #8F50BB #16042E

price-category
  positioning-root()
  display block

  for bgCol, i in colorList
    li:nth-child({i+1}) &
      z-index 999 - i

  header
    display block
    border-radius 0 0 0 3rem
    margin-top -3rem

    padding 3rem 2rem 1rem 2rem

    li:first-of-type &
      margin-top 0

    for bgCol, i in colorList
      li:nth-child({i+1}) &
        background-color bgCol
        color #fff

    transition height

    h3
      position relative
      font-size 1.8rem
      margin-bottom .3rem
    p
      position relative
      margin-top 0

  ul
    // display none
    background-color #fff
    border-radius 0 0 0 3rem
    display none
    overflow hidden

    li
      transform translateY(-100px)
      transition transform .5s

  &.open ul
    display block

  &.active ul
    li
      transform translateY(0px)

  .opening-hint
    text-align center
    margin-left auto
    margin-right auto
    border-radius 0 0 0 3rem
    // padding 1rem
    height 2rem
    background url(/assets/images/tap.svg) no-repeat top center
    background-size contain

    transform translateY(-100px)
    transition transform .2s
    display none

  &.price-category-in-line-of-sight .opening-hint
    display block
  &.price-category-in-line-of-sight.price-category-in-line-of-sight-and-active .opening-hint
    transform translateY(0)

.opened-once .opening-hint
  display none !important
