contentful-embedded-asset
  display block

  img
    border-radius .5rem

contentful-document
  display block

  ul, ol
    padding-bottom 1rem
    
  li
    padding-bottom .875rem
    &:last-of-type
      padding-bottom 0
